/********************

General

********************/

body {
	font-family: 'Josefin Sans', 'Arial', sans-serif;
	margin: none;
	padding: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearBoth {
	clear: both;
}

.center {
	text-align: center;
}

.thin {
	font-weight: 100;
}

.semiBold {
	font-weight: 600;
}


/********************

Header

********************/

header {
	position: fixed;
	z-index: 100;
	background-color: #FFFFFF;
	height: 70px;
	width: 100vw;
}

nav {
	font-size: 24px;
}

header #topBar li {
	margin-top: 20px;
	display: inline-block;
}

header #topBar li a {
	font-weight: 100;
	color: #000000;
	text-decoration: none;
}

#topBar img#logoHeader {
	margin-top: 10px;
	width: 80px;
	height: auto;
}

.activePage {
	padding-bottom: 4px;
	border-bottom: solid 1px #d06faa;
}


/********************

#welcomeSection

********************/

#welcomeSection {
	overflow-x: hidden;
	position: relative;
	z-index: 10;
	color: #FFFFFF;
}

#welcomeSection img {
	height: 100vh;
	width: 100vw;
}

#welcomeSection .infos {
	top: 27vh;
	text-align: center;
	position: absolute;
	z-index: 12;
}

#welcomeSection h1 {
	font-size: 50px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 70px;
}

#welcomeSection p,
#welcomeSection #arrow {
	margin-bottom: 5px;
	font-size: 40px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

#welcomeSection #phoneNumber {
	margin-top: 60px;
}

a#arrow {
	margin-top: 60px;
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}